# Libs

In [1]:
import pandas as pd

# Data

In [2]:
df = pd.read_csv(r'C:\Users\feh_s\DSA_powerBI\DSA_powerBI\cap_13\data\Clientes.csv')
df.head()

,ID_Cliente,Idade,Peso,Altura,Estado Civil,Estado,Limite de Credito,Valor Desconto,Valor Compra,Tipo de Cliente
0,CCIW152,?,65,173,Solteiro,RS,4362,16,3112,Bronze
1,LVSS431,?,61,166,Casado,RJ,8773,28,892,Ouro
2,VUNL154,45,61,162,Viúvo,RS,6816,99,4201,Prata
3,JAKQ206,30,60,171,Divorciado,SP,1697,47,1780,Bronze
4,EPFC681,49,72,176,Viúvo,RJ,6231,77,2954,Bronze

# Análise descritiva

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID_Cliente         500 non-null    object
 1   Idade              500 non-null    object
 2   Peso               500 non-null    int64
 3   Altura             500 non-null    int64
 4   Estado Civil       500 non-null    object
 5   Estado             500 non-null    object
 6   Limite de Credito  500 non-null    int64
 7   Valor Desconto     500 non-null    int64
 8   Valor Compra       500 non-null    int64
 9   Tipo de Cliente    500 non-null    object
dtypes: int64(5), object(5)
memory usage: 39.2+ KB

array(['?', '45', '30', '49', '44', '52', '37', '59', '36', '47', '46',
       '31', '40', '34', '56', '29', '39', '28', '35', '53', '42', '60',
       '48', '26', '50', '27', '38', '41', '54', '32', '55', '25', '33',
       '24', '23', '43', '51', '20', '21', '10', '16', '57', '62', '19',
       '17', '61', '68', '64', '58', '67', '70', '18', '22'], dtype=object)